{% extends "base2.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h2>Sentiment Changes When Mention Game of Thrones</h2>
                <span class="subheading">Twitter users have different sentiments when they mention GOT, Compared with their own average sentiments</span>
                    <iframe name = "iFrame1" width=150% height=150% onload="this.height=iFrame1.document.body.scrollHeight" frameborder=0 src="gotuser.html" >
                    </iframe>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock content %}