{% extends "base.html" %}
{% load staticfiles %}

{% block content %}


<div class="container">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Tweets, Marvel Movies<br>AND Game of Thrones</h1>
            <span class="subheading">Click buttons at the top for the analysis result</span>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock content %}