{% extends "base2.html" %}
{% load staticfiles %}

{% block content %}


<div class="container">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>COMP90024.Team 53</h1>
              <span class="subheading">Dinghao YONG&emsp;868878&emsp;dinghaoy@student.unimelb.edu.au</span>
              <br>
              <span class="subheading">Yinxuan LI&emsp;&emsp;&emsp; 874449&emsp;yinxuanl@student.unimelb.edu.au</span>
              <br>
              <span class="subheading">Lingna CHEN&emsp;&emsp;893754&emsp;lingnac@student.unimelb.edu.au</span>
              <br>
              <span class="subheading">Siyi LIU&emsp;&emsp;&emsp;&emsp;&ensp;710301&emsp;siyil6@student.unimelb.edu.au</span>
              <br>
              <span class="subheading">Shumao XU&emsp;&emsp;&ensp;851442&emsp;shumaox@student.unimelb.edu.au</span>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock content %}